
/*First Section styling*/
.first{
    padding: 70px;
    position: relative;
    text-align: center;
    color: white;
}

.banner{
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
    border-radius: 16px;
}

.center, .center1{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 40px;
    word-wrap:break-word;
}

/*Second section styling*/

.two{
    padding: 70px;
    text-align: center;
}

.two1{
    font-size: 20px ;
}

/*Third section styling*/
.three{
    position: relative;
    padding: 70px;
}

.text{
    position: absolute;
    top:200px;
    left: 200px;
    color: white;
    font-size: 30px;
}

.vector{
    position: relative;

}

.vector1{
position: absolute;
top: 150px;
right:200px;
}

/* Fourth Part styling*/

.four{
    padding: 70px;
    margin-left: 90px;
    margin-right: 100px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0) 100%);
    text-align: center;
    font-size: 20px;
}

.btn{
    background-color: #FF0000;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: 0;
}
.black{
    color: black;
}



/* container */
.columns-3 {
    padding: 80px;
    width: 80%;
    display:flex;
}
/* columns */
.columns-3 > * {
    width: calc(100% / 3);
}

.circle{
    border: 15px solid #FF0000; 
    padding: 20px;
    border-radius: 9999%;
}

.color{
   color: #FF0000;  
}


.first1, .third{
    padding: 150px;
    text-align: center;
    font-size: 20px;
}

.second{
    padding: 80px;
}

/* Fifth Part Styling"




/* Sixth Section Styling*/
.six{
    padding: 0px 70px 70px 70px;
    font-size: 20px;
}
.gifts{
    color:#FF0000;
}
.para{
    color: gray;
}




/*Seventh Section styling*/
.seven{
    background:rgba(255, 0, 0, 0.05);
    text-align: center;
    padding: 50px;
    margin-left: 80px;
    margin-right: 90px;
}

input [type="email"]{
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
}

search{
    width:330px;
    float: left;
    margin-left: 470px;
}

.search-text{
    width: 230px;
    height:40px;
    background: transparent;
    border: 1px solid black;
    margin-top: 18px;
    color: #000;
    border-right: none;
    font-size: 16px;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.button2{
    width: 100px;
    height:40px;
    background-color: #FF0000;
    border: 2px solid #fff;
    font-size: 15px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.button2:focus{
    outline: none;

}

.search-text:focus{
    outline: none;
}

/* Footer Styling*/
.footer{
    background: #070211;
    width: 100%;
    height: 100%;
}

.footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 200px 0px;
    margin-top: 100px;
}
.footer1, .footer3{
    color: white;
    padding: 50px;
}

.position{
    position: relative;
    top: 200%;
    left: 10%;
    
}
position2{
    position: relative;
    top: 300%;
    left: 10%;
}


.position3{
    position: relative;
    top: 140%;
    right: 10%;
    
}


/* background: rgba(255, 0, 0, 0.05);*/

/* Special Section Styling*/
.special{
    padding: 70px;
    position: relative;
    

}

.Rectangle2{
    position:relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    top:50px;

}

.group75{
    position: relative;
    z-index: 2;
    height: 500px;
    left:80px;
    top: 570px;
}

.Rectangle{
    position: relative;
    z-index: 3;
    height: 500px;
    left: 255px;
    top: 408px;
}

.group44{
    position: relative;
    z-index: 4;
    height: 350px;
    left: 650px;
    top: 0px;
}

