
/*First Section styling*/
.first{
    padding: 70px;
    position: relative;
    text-align: center;
    color: white;
}

.banner{
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
    border-radius: 16px;
}

.center, .center1{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 40px;
    word-wrap:break-word;
}

/*Second section styling*/

.two{
    padding: 70px;
    text-align: center;
}

/*Third section styling*/
.three{
    padding: 70px;
}

/* Fourth Part styling*/

/* container */
.columns-3 {
    padding: 70px;
    width: 80%;
    display:flex;
}
/* columns */
.columns-3 > * {
    width: calc(100% / 3);
}

.circle{
    border: 15px solid #FF0000; 
    padding: 20px;
    border-radius: 9999%;
}

.color{
   color: #FF0000;
   
}

/* Fifth Part Styling"




/* Sixth Section Styling*/
.six{
    padding: 70px;
}




/*Seventh Section styling*/
.seven{
    background:rgba(255, 0, 0, 0.05);
    text-align: center;
    padding: 50px;
}

input [type="email"]{
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
}



/* Footer Styling*/
.footer{
    background: #070211;
    width: 100%;
    height: 100%;
}

.footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 200px 0px;
    margin-top: 100px;
}
.footer1, .footer3{
    color: white;
    padding: 50px;
}

/* background: rgba(255, 0, 0, 0.05);*/